<!-- P  p -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!-- Liens Bootsnipp -->
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    
<header class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align: center">
            <h1>Accueil</h1>
        </div>
        <div class="col-lg-4"></div>
    </div>
</header>


<main class="container" style="margin-top: 10vh">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align: center">
            <p>Inscription</p>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row" style="margin-top: 5vh">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align: center"><a href="inscription"><button
                    class="btn btn-primary middle">cliquez ici</button></a></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row" style="margin: 0; margin-top: 30vh">
        <div class="col-lg-4" style="text-align: center">
            <p>Connexion</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <form action="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </form>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <form action="">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </form>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"><a href="chatroom"><button class="btn btn-primary middle">Valider</button></a> </div>
        </div>
    </div>

</main>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
