<!-- P  p -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/inscription.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
  
    <div class="fuck">
        <nav class="fixed-top navbar-light bg-light justify-content-center text-uppercase navbar">
            <a class="navbar-brand">Minouche</a>
          </nav>
        </div>

        <div class="container">
        <form method="POST" action="/">
          <div class="form-group">
              <label for="exampleInputPassword1">first Name</label>
              <input name="first_name" type="text" class="form-control" id="first_name" placeholder="Type your last name here...but only if it's sexy and cool...">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">last Name</label>
              <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Type your last name here...but only if it's sexy and cool...">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Pseudo</label>
              <input name="pseudo" type="text" class="form-control" id="pseudo" placeholder="This should be easy...but maybe not for you..">
            </div>


            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="password">
              
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
              
            </div>

            
            <button type="submit" value="submit" class="btn btn-primary middle">Submit</button>
          </form>
        </div>

        <footer class="fixed-bottom navbar-light bg-light justify-content-center text-uppercase navbar">
        <p>© Meow & Co </p>
        </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>