/* P  p  */

body {
     
    background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
      
      
  }

  .container {
    margin-right: 8rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 55rem;
    height: 45rem;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 25px;
   float: right;

}
.container-user {
    margin-left: 8rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 15rem;
    height: 45rem;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 25px;
   float: left;

}
textarea {
    width: 45rem;
    height: 5rem;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 15px;
    margin-top: 38rem;
    float: left;
}
.btn-primary {
    
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    background-color: white;
    border-color: white;
    margin-top: 38.5rem;
    float: right;
    height: 4rem;
    width: 6rem;
} 