/* P  p */
body {
     
    background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
      
      
  }

.container {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 55rem;
    height: 45rem;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 25px;

}